@function min-width-for($size) {
  $width: map-get($breakpoints, $size);
  @return '(min-width: #{$width})';
}

@mixin responsive($size) {
  @media #{min-width-for($size)} {
    @content;
  }
}

@mixin maxwidths() {
  width: 100%;
  max-width: 100%;
  padding: 0 1rem;

  @include responsive('tiny') {
    max-width: 100%;
    min-width: 270px;
  }

  @include responsive('small') {
    max-width: 95%;
    min-width: 420px;
  }

  @include responsive('medium') {
    max-width: 85%;
    min-width: 640px;
  }

  @include responsive('large') {
    max-width: 84.5%;
    min-width: 1050px;
  }

  @include responsive('huge') {
    max-width: 1500px;
    min-width: 1100px;
  }
}
