{% extends "_layout.twig" %}

{% block precontent %}
    <div class="navigation-bar">
        <a class="navigation-bar-button {% if page_name=='my_uploads' %}active{% endif %}" href="/my_uploads">
            Uploads
        </a>
        <a class="navigation-bar-button {% if page_name=='my_messages' %}active{% endif %}" href="/my_messages">
            Messages
        </a>
        <a class="navigation-bar-button {% if page_name=='notifications' %}active{% endif %}" href="/notifications">
            Notifications
        </a>
    </div>
{% endblock %}

	{% block content %}
        {% block mystuffcontent %}
        {% endblock %}
    {% endblock %}