{% extends "_layout.twig" %}

{% block style %}
    <style>
        .jumbotron.profile-banner {
            background-image: url('{{ banner_picture }}');
        }
    </style>
{% endblock %}

{% block precontent %}
    <div class="jumbotron profile-banner"></div>
{% endblock %}

{% block content %}{% endblock %}