{% extends "_layout.twig" %}

{% block precontent %}
<div class="navigation-bar">
    <a class="navigation-bar-button {% if page_name=='overview' %}active{% endif %}" href="/admin/overview">
        Overview
    </a>
    <a class="navigation-bar-button {% if page_name=='users' %}active{% endif %}" href="/admin/users">
        Users
    </a>
    {% if is_opensb_v1_3 %}
        <a class="navigation-bar-button {% if page_name=='uploads' %}active{% endif %}" href="/admin/uploads">
            Uploads
        </a>
        <a class="navigation-bar-button {% if page_name=='interactions' %}active{% endif %}" href="/admin/interactions">
            Interactions
        </a>
        {% if invite_keys_enabled %}
            <a class="navigation-bar-button {% if page_name=='invitekeys' %}active{% endif %}" href="/admin/invitekeys">
                Invite keys
            </a>
        {% endif %}
    {% endif %}
</div>
{% endblock %}

	{% block content %}
        <div class="section">
            <div class="section-header">
                <h1 class="section-title">{{ title }}</h1>
            </div>
        </div>
        <div class="content-box">
        {% block admincontent %}
        {% endblock %}
        </div>
    {% endblock %}