{% extends "_layout_login.twig" %}

{% set title = "Admin login" %}

	{% block content %}
        <div class="section">
            <div class="section-header">
                <h1 class="section-title">Admin login</h1>
                <div>
                    Currently logged in as {{ user_data.name }}.
                </div>
            </div>
            <div class="content-box login">
                <div class="panel-body">
                    <form method="post" name="loginForm" id="loginForm" action="/admin/login" class="form-signin">
                        <div class="form-input">
                            <label for="password">Password:</label>
                            <input type="password" name="password" class="form-submit" placeholder="Password">
                        </div>

                        <div class="form-button-container">
                            <input type="submit" class="button button-primary button-login" value="Login" name="loginsubmit">
                        </div>
                    </form>
                </div>
            </div>
            <div class="login-text login-footer">{{ localize('footer_copyright', '2021-' ~ ('now' | date('Y'))) }}</div>
        </div>
    {% endblock %}