{% extends "_layout.twig" %}

{% if is_user_logged_in %}
    {% set followers = data.totals.followers ?? "no" %}
    {% set views = data.totals.views ?? "no" %}
    {% set followersText = followers == 0 ? "no" : followers %}
    {% set viewsText = views == 0 ? "no" : views %}

    {% set jumbotronClassName = "homepage-logged-in" %}

    {% if followersText != 1 %}
        {% set pluralSubscribers = "s" %}
    {% endif %}

    {% if viewsText != 1 %}
        {% set pluralViews = "s" %}
    {% endif %}
{% else %}
    {% set jumbotronClassName = "homepage-logged-out" %}
{% endif %}

{% block scripts %}
    <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js" integrity="sha256-FZsW7H2V5X9TGinSjjwYJ419Xka27I8XPDmWryGlWtw=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css" integrity="sha256-5uKiXEwbaQh9cgd2/5Vp6WmMnsUr3VZZw0a8rKnOKNU=" crossorigin="anonymous">
    <script>
        document.addEventListener( 'DOMContentLoaded', function() {
            var elms = document.getElementsByClassName( 'splide' );

            for ( var i = 0; i < elms.length; i++ ) {
                new Splide( elms[ i ], {
                    perPage: 4,
                    rewind: true,
                    pagination: false,
                    breakpoints: {
                        1249 : { perPage: 3 },
                        899 : { perPage: 2 },
                    },
                } ).mount();
            }
        } );
    </script>
{% endblock %}

{% block precontent %}
    <div class="page homepage-buttons">
        <div class="page-contents">
            <div class="jumbotron-right-buttons">
                <div class="tabs homepage">
                    <div class="tablink homepage {% if type=='list' %}active{% endif %}" id="index-list-button">
                        <div class="biscuit-icon homepage-list {% if type=='list' %}active{% endif %} size-24"></div>
                    </div>
                    <div class="tablink homepage {% if type=='grid' %}active{% endif %}" id="index-grid-button">
                        <div class="biscuit-icon homepage-grid {% if type=='grid' %}active{% endif %} size-24"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    {% if type == "grid" %}
        {{ include('/components/_index_grid.twig') }}
    {% else %}
        {{ include('/components/_index_list.twig') }}
    {% endif %}
{% endblock %}
