{% extends "_layout_login.twig" %}

{% set title = "Login" %}

	{% block content %}
        <div class="section">
            <div class="section-header">
                <h1 class="section-title">Login</h1>
                {% if is_user_logged_in %}
                <div>
                    Currently logged in as {{ user_data.name }}.
                </div>
                {% endif %}
            </div>
            <div class="content-box rounded login">
                <div class="panel-body">
                    <form method="post" name="loginForm" id="loginForm" action="login" class="form-signin">
                        <div class="form-input">
                            <label for="username">Username</label>
                            <input type="text" name="username" class="form-submit">
                        </div>

                        <div class="form-input">
                            <label for="password">Password</label>
                            <input type="password" name="password" class="form-submit">
                        </div>

                        <div class="login-text">
                            Don't have an account? <a href="/register">Register</a>
                        </div>

                        <div class="form-button-container">
                            <input type="submit" class="button button-primary button-full" value="Login" name="loginsubmit">
                        </div>
                    </form>
                </div>
            </div>
            <div class="login-text login-footer">{{ localize('footer_copyright', '2021-' ~ ('now' | date('Y'))) }}</div>
        </div>
    {% endblock %}