@use "sass:color";

.banner {
  padding: 0.5rem 0.7rem;
  display: flex;
  align-items: center;
  border-radius: 6px;
  margin-bottom: 0.5em;
  background-repeat: repeat-x;

  .notification-icon {
    margin-right: 0.66em;
    min-width: 20px;
    min-height: 20px;
    background-size: 20px;
  }

  &.full-screen {
    margin: 0;
    border-radius: 0;
    .notification-text {
      margin: auto;
    }
  }
}

@each $color, $value in $color-map {
  .banner-#{$color} {

    background-color: $value;
    color: contrast-color($value, #000, #fff);

    a {
      text-decoration: underline;
      color: contrast-color($value, #000, rgba(white, 0.7));
    }
  }
}