@use "sass:color";

.button {
  padding: 8px 12px;
  text-align: center;
  border: none;
  border-radius: 4px;
  color: white;
  font-family: $font;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  font-weight: normal;
  background-repeat: repeat-x;
  line-height: 1em;

  &:hover {
    text-decoration: none;
  }

  &.button-hamburger {
    padding: 0;
    display: flex;
    &:not(:hover):not(:active) {
      border-color: #0000;
    }
  }

  &.button-caret {
    padding: 3px 4px;
  }

  &.button-small {
    padding: 5px 10px;
  }

  &.button-big {
    font-size: 15px;
    padding: 7px 15px;
    border-radius: 5px;
  }

  &.button-huge {
    font-size: 24px;
    padding: 0.5em 0.8em;
    border-radius: 7px;
  }
}

@each $color, $value in $color-map {
  .button-#{$color} {
    background-color: $value;

    $text-color: contrast-color($value, black, white);

    color: $text-color;

    &.button-transparent {
      background: none;
    }

    &:hover {
      background-color: color.adjust($value, $lightness: 5%);
    }

    &:active {
      background-color: color.adjust($value, $lightness: -5%);
    }
  }
}