.button {
  padding: $button-padding;
  text-align: center;
  border-radius: 4px;
  color: white;
  font-family: $font;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(black, 0.4);
  font-weight: bold;
  background-repeat: repeat-x;
  line-height: 1em;

  &:hover {
    text-decoration: none;
  }

  &.button-small {
    padding: $button-padding-small;
  }

  &.button-big {
    font-size: 15px;
    padding: $button-padding-big;
    border-radius: 5px;
  }

  &.button-huge {
    font-size: 32px;
    padding: $button-padding-huge;
    border-radius: 10px;
  }
}

@each $color, $value in $color-map {
  .button-#{$color} {
    border: 1px solid adjust-hue(darken($value, 4%), 6);
    background-color: $value;
    @include gradient-y($start-color: lighten($value, 5%), $end-color: adjust-hue(darken($value, 2%), 1));

    $text-color: contrast-color($value, #000, #fff);
    color: $text-color;

    @if $text-color != #fff {
      text-shadow: none;
    }

    @if $color == "secondary" {
      font-weight: normal;
    }

    &:hover {
      background-color: lighten($value, 10%);
      @include gradient-y($start-color: adjust-hue(lighten($value, 15%), 1), $end-color: $value);
      border-color: darken($value, 5%);
    }

    &:active {
      background-color: darken($value, 5%);
      @include gradient-y($start-color: $value, $end-color: adjust-hue(darken($value, 7%), 2));
      border-color: darken($value, 12%);
    }
  }
}