.comment {
  margin: 0.33em 0;
  padding: 0.5em 0;
  display: flex;
  border-bottom: 1px solid $content-box-border-color;

  &:last-child {
    border-bottom: none;
  }

  .profile-picture {
    width: 50px;
    height: 50px;
    margin-right: 0.75em;
  }

  .comment-body {
    width: 100%;

    .comment-contents {
      margin-top: 0.25em;

      .reply-button {
        font-size: 0.75em;
      }

      p {
        margin: 0.5em 0;

        &:first-child {
          margin-top: 0;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}

.replies {
  border-left: 1px solid $content-box-border-color;
  padding-left: 1em;
  margin-top: 0.5em;
  .comment {
    border: none;
    .profile-picture {
      width: 35px;
      height: 35px;
    }
  }
}

.new-comment, .reply-form {
  display: flex;

  &:not(:only-child) {
    margin-bottom: 0.33em;
    padding-bottom: 0.5em;
    border-bottom: 1px solid $content-box-border-color;
  }

  .profile-picture {
    width: 50px;
    height: 50px;
    margin-right: 0.75em;
  }

  .new-comment-form {
    width: 100%;
  }

  #comment_button, .submit-reply-button {
    margin-left: auto;
    display: block;
  }
}

.new-comment-logged-out {
  background: $form-bg-color;
  color: $form-text-color;
  border: 1px solid $form-border-color;
  border-radius: 3px;
  padding: 6px;
}