.footer
{
  .footer-container {
    border-top: 1px solid $content-box-border-color;
    background: #595C62;
    box-shadow: inset 0px 30px 30px -20px #00000050;
    color: #aaa;

    a {
      color: #aaa;
    }

    // shitty
    padding-top: 20px;
    padding-bottom: 20px;

    margin: auto;

    .footer-content {
      text-align: center;
      span {
        margin: 0 3px;
      }
    }

    .footer-logo-chaziz {
      margin-top: 5px;
      img {
        height: 15px;
      }
    }

    .footer-links {
      a {
        margin-right: 5px;
      }
    }
  }

  line-height: 20px;
  clear: both;
}