.footer
{
  margin-top: 1rem;
  line-height: 1.5rem;

  .footer-container {
    border-top: 1px solid $content-box-border-color;
    @if $theme == "dark" {
      color: white;
    } @else {
      color: #333;
    }

    @include maxwidths();

    padding: 1.25em 0;
    margin: auto;
    text-align: center;
    span {
      margin: 0 0.25em;
    }
  }
}