textarea,
input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"] {
  border: 1px solid $form-border-color;
  background-color: $form-bg-color;
  color: $form-text-color;
  transition: border-color linear 0.3s;
  border-radius: 6px;
  padding: 0.5rem;
  font-family: $font;

  &:focus {
    border-color: var(--link-color);
    outline: none;
  }
}

.form-input {
  margin-bottom: 1em;
}

.form-submit {
  width: 100%;
}

.form-button-container {
  text-align: right;
}

.form-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  &.edit-page {
    width: 100%;
    max-width: 240px;
  }
}

.form-flex {
  display: flex;
  gap: 5px;
}