#hamburger {
  top: $header-height;
  left: -215px;
  position: fixed;
  z-index: 2000;
  width: 200px;
  padding: $content-box-padding 0;
  height: calc(100vh - $header-height);
  background: #191919;
  box-shadow: 1px 0 6px rgba(black, 0.15);
  display: block;
  overflow-y: scroll;

  transition: left 0.25s cubic-bezier(0.33, 1, 0.68, 1);
  @media (prefers-reduced-motion) {
    transition: none;
  }

  &.active {
    left: 0;
  }

  .hamburger-list {
    margin: 0;
    padding: 0;
    list-style: none;

    .hamburger-header {
      margin-top: 0.8rem;
      display: block;
      padding: 5px 0.9rem;
      color: rgba(white, 66%);
      font-weight: bold;
      text-transform: uppercase;
      font-size: 0.7rem;
    }

    .hamburger-link {
      .hamburger-link-profile-picture {
        display: inline-block;
        width: 24px;
        height: 24px;
      }

      a {
        display: flex;
        padding: 5px 1rem;
        color: rgba(white, 66%);
        align-items: center;
        gap: 0.4rem;

        &:hover {
          background: rgba(white, 0.1);
          color: white;
          text-decoration: none;
        }
      }
    }
  }
}