.headers {
  position: sticky;
  top: 0;
  z-index: 47101;
}

.header-main-links {
  display: flex;
  gap: 9px;
  align-items: center;
}

// actually known as user links, but back in 2023 the main browse/members links were aligned to the right so
// thats why this is called header-links.
.header-links
{
  text-align: right;
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 0.85em;

  .user-menu-container {
    direction: rtl;

    .user-menu-button {
      height: $header-height;
      padding: 5px;
      direction: ltr;
      display: flex;
      gap: 5px;
      align-items: center;

      &:hover, &.selected {
        cursor: pointer;
      }

      @if $theme == "default" {
        &:hover, &.selected {
          background: rgba(white, 0.1);
        }
      }

      .user-menu-pfp {
        width: $header-pfp-width;
      }

      .user-menu-caret-container {
        display: inline-block;
        font-size: 10px;
        color: rgba(255, 255, 255, 0.75);
        @if $theme == "pink" or $theme == "default" {
          color: rgba(0, 0, 0, 0.75);
        }
      }
    }
  }
}

.header-logo
{
  a {
    display: block;
    height: $header-logo-height;

    &:focus {
      outline: none;
    }
  }

  .logo {
    height: $header-logo-height;
  }

  margin-right: 15px;
}

form.header-search
{
  position: relative;
  display: none;

  #header-search-button {
    position: absolute;
    right: 0;

    background: none;
    border: none;

    color: #B4B4B4;

    height: 30px;
    width: 40px;

    &:hover {
      cursor: pointer;
    }
  }

  #header-search-input {
    border-radius: 15px;
    transition: all .2s ease-in-out;

    @if $theme == "pink" {
      background: #ffe0e0;
      border: #ff7c7c solid 1px;
      color: #444;
      box-shadow: none;
    } @else if $theme == "dark"{
      border: 1px solid #222;
      color: #dedede;
      background: #111;
      padding: 6px 40px 6px 10px;
      height: 30px;
    } @else {
      border: 1px solid #ccc;
      color: #111;
      background: #dedede;
      padding: 6px 40px 6px 10px;
      height: 30px;
    }

    &:focus {
      @if $theme == "pink" {
        background: #ffe0e0;
        border: #ff7c7c solid 1px;
        box-shadow: #ff6d6d 0 1px 5px;
        color: #111;
      } @else if $theme == "dark" {
        background: #333;
        color: #f3f3f3;
        border-color: #444;
      } @else {
        background: #f3f3f3;
        color: #333;
        border-color: #cecece;
      }
    }
  }

  @include responsive('tiny') {
    max-width: 120px;
  }
  @include responsive('small') {
    display: block;
    margin-left: 5px;
    max-width: 200px;
    #header-search-input {
      width: 100px;
    }
  }
  @include responsive('medium') {
    display: block;
    margin-left: 15px;
    max-width: 300px;

    #header-search-input {
      width: 200px;
    }
  }

  .form-button-container {
    display: inline;
  }
}

td.h
{
  padding: 5px;
}

.menulink
{
  @if $theme == "pink" {
    color: black;
  } @else if $theme == "default" {
    color: #666;
  } @else {
    color: white;
  }

  &.username {
    display: none;

    @include responsive('medium') {
      display: inline;
    }
  }
}

.header
{
  .header-container {
    @include maxwidths();
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
  }

  width: 100%;

  @if $theme == "pink" {
    background: linear-gradient(to bottom, #ffc2c2, #FF9A9A);
  } @else if $theme == "dark" {
    background: linear-gradient(to bottom, #0a0a0a, #000);
    border: 1px solid $content-box-border-color;
  } @else {
    background: linear-gradient(to bottom, #fff, #fafafa);
    border: 1px solid $content-box-border-color;
  }

  height: $header-height;
  display: flex;
}

.menu#user-menu {
  background: white;
  border: none;
  min-width: 165px;
  top: $header-height;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 1px 2px rgba(black, 0.2);

  hr {
    border-color: #ddd;
    margin: 4px 0;
  }

  .menu-item-button {
    &.small {
      font-size: 11px;
    }

    &:hover {
      background: rgba(black, 0.1);
      text-decoration: none;
    }
  }
}

// SOOS
.subheader {
  height: 23px;
  background: linear-gradient(to bottom, #E8E8E8, #D3D3D3);
  display: flex;
  .subheader-container {
    @include maxwidths();
    display: flex;
    align-items: center;
    gap: 12px;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
  }
}