.headers {
  position: sticky;
  top: 0;
  z-index: 47101;
}

.header-main-links {
  @include responsive('tiny') {
    display: none;
  }
  @include responsive('small') {
    display: none;
  }
  @include responsive('medium') {
    display: flex;
  }
  gap: 0.8em;
  align-items: center;
}

// actually known as user links, but back in 2023 the main browse/members links were aligned to the right so
// thats why this is called header-links.
.header-links
{
  text-align: right;
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 0.8em;

  .user-menu-container {
    direction: rtl;

    .user-menu-button {
      height: $header-height;
      padding: 5px;
      direction: ltr;
      display: flex;
      gap: 5px;
      align-items: center;

      &:hover, &.selected {
        cursor: pointer;
      }

      @if $theme == "default" {
        &:hover, &.selected {
          background: rgba(white, 0.1);
        }
      }

      .user-menu-pfp {
        width: $header-pfp-width;
      }

      .user-menu-caret-container {
        display: inline-block;
        font-size: 10px;
        color: rgba(255, 255, 255, 0.75);
        @if $theme == "pink" or $theme == "default" {
          color: rgba(0, 0, 0, 0.75);
        }
      }
    }
  }
}

.header-logo
{
  a {
    display: block;
    height: $header-logo-height;

    &:focus {
      outline: none;
    }
  }

  .logo {
    height: $header-logo-height;
  }

  margin-right: 15px;
}

form.header-search
{
  position: relative;
  display: none;

  #header-search-button {
    position: absolute;
    right: 0;
    top: 1px; // stupid hack

    background: none;
    border: none;

    .biscuit-icon.search {
      width: 15px;
      height: 15px;
      background-size: 15px;
    }

    height: 30px;
    width: 40px;

    &:hover {
      cursor: pointer;
    }
  }

  #header-search-input {
    border-radius: 15px;
    transition: all .2s ease-in-out;
    padding: 6px 40px 6px 10px;
    height: 30px;

    border: 1px solid $form-border-color;
    color: $form-text-color;
    background: $form-bg-color;

    &:focus {
      border-color: var(--link-color);
    }
  }

  @include responsive('tiny') {
    display: block;
    max-width: 120px;
    #header-search-input {
      max-width: 110px;
    }
  }
  @include responsive('small') {
    display: block;
    margin-left: 5px;
    max-width: 200px;
    #header-search-input {
      max-width: 180px;
    }
  }
  @include responsive('medium') {
    display: block;
    margin-left: 15px;
    max-width: 225px;
    #header-search-input {
      max-width: 200px;
    }
  }

  .form-button-container {
    display: inline;
  }
}

td.h
{
  padding: 5px;
}

.menulink
{
  display: flex;
  align-items: center;
  gap: 0.5em;

  @if $theme == "pink" {
    color: black;
  } @else if $theme == "default" {
    color: #666;
  } @else {
    color: white;
  }

  opacity: 0.67;
  &:hover {
    opacity: 1;
    text-decoration: none;
  }

  .biscuit-icon {
    width: 24px;
    height: 24px;
    background-size: 24px;
  }

  .bi {
    font-size: 24px;
  }

  &.hide-small {
    @include responsive('tiny') {
      display: none;
    }
    @include responsive('small') {
      display: none;
    }
    @include responsive('medium') {
      display: block;
    }
  }

  &.username {
    display: none;

    @include responsive('medium') {
      display: inline;
    }
  }
}

.header
{
  .header-container {
    @include maxwidths();
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
  }

  width: 100%;

  @if $theme == "pink" {
    background: linear-gradient(to bottom, #ffc2c2, #FF9A9A);
    border-bottom: 1px solid #e88e8e;
  } @else if $theme == "dark" {
    background: linear-gradient(to bottom, #191a23, #0e0f15);
    border-bottom: 1px solid #090b0e;
  } @else {
    background: linear-gradient(to bottom, #fdfdff, #f8fcff);
    border-bottom: 1px solid darken($content-box-border-color, 5%);
  }

  height: $header-height;
  display: flex;
}

.menu#user-menu {
  border-top: none;
  min-width: 165px;
  top: $header-height;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 2px 5px rgba(78, 115, 151, 0.2);

  hr {
    border-color: $content-box-border-color;
    margin: 4px 0;
  }

  .menu-item-button {
    &.small {
      font-size: 11px;
    }

    &:hover {
      background: rgba(black, 0.1);
      text-decoration: none;
    }
  }
}

.subheader {
  @include responsive('tiny') {
    display: flex;
  }
  @include responsive('small') {
    display: flex;
  }
  @include responsive('medium') {
    display: none;
  }

  height: 2em;
  @if $theme == "pink" {
    background: linear-gradient(to bottom, #FF9A9A, #ee8080);
    border-bottom: 1px solid #e88e8e;
  } @else if $theme == "dark" {
    background: linear-gradient(to bottom, #141421, #0c0c13);
    border-bottom: 1px solid #0b0b11;
  } @else {
    background: linear-gradient(to bottom, #f8faff, #dde3e8);
    border-bottom: 1px solid $content-box-border-color;
  }

  .subheader-container {
    @include maxwidths();
    display: flex;
    align-items: center;
    gap: 0.8em;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;

    .subheader-right-links
    {
      margin-left: auto;
      display: flex;
      gap: 0.8em;
    }
  }
}
