.jumbotron {
  &.page-banner {
    background: #333 url("/assets/charla_banner_background.jpg") center;
    background-size: cover;
    color: white;
    text-shadow: 0 0.1em 0.2em rgba(black, 0.5);
    padding: 20px 0;

    h1, p {
      margin: 0;
    }

    h1 {
      font-size: 1.33rem;
      font-weight: bold;

      @include responsive('tiny') {
        font-size: 1rem;
      }
      @include responsive('small') {
        font-size: 1.2rem;
      }
      @include responsive('medium') {
        font-size: 1.33rem;
      }
    }

    &.upload {
      background-image: url("/assets/charla_upload_banner_background.jpg");
    }

    &.homepage {
      background-image: url("/assets/charla_homepage_banner_background.jpg");
      padding: 0;
      .jumbotron-container {
        &.homepage-logged-in {
          height: 92px;

          .jumbotron-welcome {
            display: flex;
            align-items: center;

            .profile-picture {
              margin-right: 1em;

              @include responsive('tiny') {
                width: 48px;
                height: 48px;
              }
              @include responsive('small') {
                width: 64px;
                height: 64px;
              }
              @include responsive('medium') {
                width: 64px;
                height: 64px;
              }
            }
          }
        }
        &.homepage-logged-out {
          height: 120px;

          .jumbotron-welcome {
            .button-get-started {
              @include responsive('tiny') {
                display: none;
              }
              @include responsive('small') {
                display: none;
              }
              @include responsive('medium') {
                display: inline-block;
              }
            }
          }
        }
      }
    }

    .jumbotron-welcome {
      flex-grow: 1;
      line-height: 2em;
    }
  }

  &.profile-banner {
    background: #111 center/cover;
    height: 250px;

    .jumbotron-container {
      padding-top: $header-height;
    }
  }

  .jumbotron-container {
    /* duplicate of the page class */
    display: flex;
    align-items: center;
    margin: auto;
    @include maxwidths();
  }

  .jumbotron-right-container {
    text-align: right;
    height: inherit;
    display: flex;

    @include responsive('tiny') {
      flex-direction: column-reverse;
      justify-content: space-between;
    }
    @include responsive('small') {
      flex-direction: column-reverse;
      justify-content: space-between;
    }
    @include responsive('medium') {
      flex-direction: column;
      justify-content: space-between;
    }

    .jumbotron-right-buttons {
      text-shadow: none;
    }

    .jumbotron-right-date {
      margin-top: 0.75em;
      font-weight: normal;
      @include responsive('tiny') {
        display: none;
      }
      @include responsive('small') {
        display: none;
      }
      @include responsive('medium') {
        display: inline;
      }
    }
  }
}