.jumbotron {
  &.page-banner {
    background: #333 url("/assets/charla_banner_background.jpg");
    background-size: cover;
    background-position: center;
    color: white;
    text-shadow: 0 0.1em 0.2em rgba(black, 0.5);
    padding: 20px 0;

    h1, p {
      margin: 0;
    }

    h1 {
      font-size: 1.33rem;
      font-weight: bold;

      @include responsive('tiny') {
        font-size: 1rem;
      }
      @include responsive('small') {
        font-size: 1.2rem;
      }
      @include responsive('medium') {
        font-size: 1.33rem;
      }
    }

    &.homepage {
      padding: 0;
      .jumbotron-container {
        height: 92px;
      }
    }

    .jumbotron-logged-out {
      line-height: 1.75em;

      h1 {
        font-size: 1.075rem;
      }

      .button-get-started {
        @include responsive('tiny') {
          display: none;
        }
        @include responsive('small') {
          display: none;
        }
        @include responsive('medium') {
          display: inline-block;
        }
      }
    }

    .jumbotron-welcome {
      flex-grow: 1;
      line-height: 2em;

      .jumbotron-logged-in {
        display: flex;
        align-items: center;

        .profile-picture {
          margin-right: 1em;

          @include responsive('tiny') {
            width: 48px;
            height: 48px;
          }
          @include responsive('small') {
            width: 64px;
            height: 64px;
          }
          @include responsive('medium') {
            width: 64px;
            height: 64px;
          }
        }
      }
    }
  }

  &.profile-banner {
    background: #111 center/cover;
    height: 250px;

    .jumbotron-container {
      padding-top: $header-height;
    }
  }

  // duplicate of the page class
  .jumbotron-container {
    display: flex;
    align-items: center;
    margin: auto;
    @include maxwidths();
  }

  .jumbotron-right-container {
    text-align: right;
    height: inherit;
    display: flex;

    @include responsive('tiny') {
      flex-direction: column-reverse;
      justify-content: space-between;
    }
    @include responsive('small') {
      flex-direction: column-reverse;
      justify-content: space-between;
    }
    @include responsive('medium') {
      flex-direction: column;
      justify-content: space-between;
    }

    .jumbotron-right-buttons {
      text-shadow: none;
    }

    .jumbotron-right-date {
      margin-top: 0.75em;
      font-weight: normal;
      @include responsive('tiny') {
        display: none;
      }
      @include responsive('small') {
        display: none;
      }
      @include responsive('medium') {
        display: inline;
      }
    }
  }
}