.jumbotron {
  &.page-banner {
    h1, p {
      margin: 0;
    }

    @if $theme == "dark" {
      background: #333 url("/assets/biscuit_login_background.jpg");
      background-size: cover;
      background-position: center;
    } @else {
      background: #333 url("/assets/charla_banner_background.jpg");
      background-size: cover;
      background-position: center;
    }

    color: white;
    text-shadow: 0 1px 0.25em #00000088;
    padding: 20px 0;
    &.homepage {
      padding: 0;
      .jumbotron-container {
        height: 135px;
      }
    }

    .jumbotron-welcome {
      flex-grow: 1;
      line-height: 2.45em;

      .jumbotron-logged-in {
        display: flex;
        align-items: center;

        .pfp {
          @include responsive('tiny') {
            height: 64px;
          }
          @include responsive('small') {
            height: 64px;
          }
          @include responsive('medium') {
            height: 100px;
          }
          margin-right: 1em;
        }
      }
    }
  }

  &.profile-banner {
    background: #111 center/cover;
    height: 250px;

    .jumbotron-container {
      padding-top: $header-height;
    }
  }

  // duplicate of the page class
  .jumbotron-container {
    @include maxwidths();
    display: flex;
    align-items: center;
    margin: auto;
  }

  .jumbotron-right-container {
    text-align: right;
    height: inherit;
    display: flex;
    @include responsive('tiny') {
      flex-direction: column-reverse;
      justify-content: space-between;
    }
    @include responsive('small') {
      flex-direction: column-reverse;
      justify-content: space-between;
    }
    @include responsive('medium') {
      flex-direction: column;
      justify-content: space-between;
    }

    .jumbotron-right-buttons {
      text-shadow: none;
    }

    .jumbotron-right-date {
      @include responsive('tiny') {
        display: none;
      }
      @include responsive('small') {
        display: none;
      }
      @include responsive('medium') {
        display: inline;
      }
      margin-top: 0.75em;
      font-weight: 425;
      font-size: 1.15em;
    }
  }
}