body.login {
  background: #333 url("/assets/charla_login_background.jpg");
  background-size: cover;
  background-position: center;

  .page {
    display: flex;
    align-items: center;
    height: calc(100vh - $header-height);;
    justify-content: center;
  }

  .page-login {
    margin: 0;
    padding: 0;
    .register, .login {
      width: 350px;
    }
  }

  .section-title {
    text-shadow: #000 0 1px 2px;
    color: white;
  }

  .login-text {
    margin: 1em 0;
  }
}