.section {
  .section-header {
    display: flex;

    .section-header-left {
      flex-grow: 1;
      display: flex;
      align-content: center;
      gap: 0.5em;

      .section-title {
        font-size: 1.33em;
      }

      .section-desc {
        align-self: center;
        color: gray;
      }
    }

    a {
      font-size: 14px;
      margin-left: 4px;
      align-self: center;
      &.userlink {
        margin-left: 0;
      }
    }

    margin-bottom: 0.5em;
  }
  margin-bottom: 1em;
}