.section {
  .section-header {
    display: flex;
    align-items: baseline;

    .section-header-left {
      flex-grow: 1;
      display: flex;
      align-items: baseline;
      gap: 0.5em;

      .section-title {
        font-size: 1.33em;
      }

      .section-desc {
        @if $theme == "dark" {
          color: #ffffff80;
        } @else {
          color: #00000080;
        }
      }
    }

    a {
      font-size: 14px;
      margin-left: 4px;
      &.userlink {
        margin-left: 0;
      }
    }

    margin-bottom: 0.5em;
  }
  margin-bottom: 1em;
}