table.c1 {
  width: 100%;
  border: 1px solid $content-box-border-color;
  border-spacing: 0;
  border-collapse: collapse;

  tbody {
    margin: 0;
  }

  tr {
    border: 1px solid $content-box-border-color;
    padding: 20px;

    &.h {
      @include gradient-y($start-color: lighten($content-box-border-color, 5%), $end-color: lighten($content-box-border-color, 2.5%));
      background-color: $content-box-border-color;
      th {
        padding: 1px 4px;
        text-align: left;
        border: 1px solid darken($content-box-border-color, 10%);
        font-weight: 500;
      }
    }

    @each $color, $value in $color-map-admin {
      &.#{$color} {
        background: $value;
      }
    }
  }

  td {
    border: 1px solid $content-box-border-color;
    padding: 4px;
  }
}