table.c1 {
  width: 100%;
  border: 1px solid $content-box-border-color;
  border-spacing: 0;
  border-collapse: collapse;

  tbody {
    margin: 0;
  }

  tr {
    border: 1px solid $content-box-border-color;

    &.h {
      @include gradient-y($start-color: lighten($content-box-border-color, 5%), $end-color: lighten($content-box-border-color, 2.5%));
      background-color: $content-box-border-color;
      th {
        padding: 1px 4px;
        text-align: left;
        border: 1px solid darken($content-box-border-color, 10%);
        font-weight: 500;
      }
    }

    @each $color, $value in $color-map-admin {
      &.#{$color} {
        background: $value;
        @include gradient-y($start-color: $value, $end-color: adjust-hue(darken($value, 2%), -1));
        td {
          border-color: adjust-hue(darken($value, 5.5%), -3);
        }
      }
    }
  }

  td {
    border: 1px solid $content-box-border-color;
    padding: 4px;

    @if $theme != "dark" {
      &.fade-into-bg {
        background: linear-gradient(to right, #0000, rgba($content-box-background-color, .5));
      }
    }
  }
}