@use "sass:color";

.tabcontent {
  display: none;
}

.tabs {
  border-bottom: 1px solid $content-box-border-color;
  display: flex;

  &.homepage {
    justify-content: flex-end;
    border-bottom: none;

    .tablink {
      color: white;
      padding: 2px 4px;
      display: flex;

      &:hover {
        @if $theme == "dark" {
          background-color: rgba(color.adjust($bg-color, $lightness: 2.5%), 50%);
        } @else {
          background-color: rgba(color.adjust($bg-color, $lightness: -3.5%), 10%);
        }
      }

      &.active {
        background-color: $bg-color;
      }
    }
  }
}

.tablink {
  font-family: $font;
  padding: 7px 14px;
  cursor: pointer;
  background-color: #fff0;
  margin-bottom: -1px;
  border-radius: 4px 4px 0 0;
  color: var(--link-color);
  display: inline-block;
  border: 1px solid #0000;

  &:hover {
    @if $theme == "dark" {
      background-color: color.adjust($bg-color, $lightness: 2.5%);
    } @else {
      background-color: color.adjust($bg-color, $lightness: -3.5%)
    }
    text-decoration: none;
  }

  &.active {
    background-color: $content-box-background-color;
    border: 1px solid $content-box-border-color;
    border-bottom: 1px solid #fff0;
    @if $theme == "dark" {
      color: white;
    } @else {
      color: black;
    }
    font-weight: bold;
  }

  &:focus {
    outline: none;
  }
}
