// colors

$threshold: 50%; // contrast threshold

$primary: #2188dd; // primary color
$secondary: #e7edf3; // secondary color (nearly white)
@if $theme == "dark" {
        $secondary: #3a3b42; // secondary color (dark gray)
}
$green: #0cb60c;
$red: #cd130e;
$yellow: #ffb10a;

$text-color: #27272c;
$link-color: #1e7fe7;
$bg-color: #f6f8fa;

$form-bg-color: #fff;
$form-text-color: #111;
$form-border-color: #c7d2da;

@if $theme == "dark" {
        $text-color: white;
        $link-color: #2d89e8;
        $bg-color: #141517;

        $form-bg-color: #242427;
        $form-text-color: #ffffff;
        $form-border-color: #3d4045;
}

$color-map: (
        "primary": $primary,
        "secondary": $secondary,
        "success": $green,
        "danger": $red,
        "warning": $yellow,
);

// colors used for the users section in the admin panel, taken from the ones on bitview.
$color-map-admin: (
        "banned-other-unbanned": #ff9696,
        "unbanned-other-banned": #ffc848,
        "banned": #ffcccc,
        "shadow-banned": #ffe2cc, // "Reuploader" on bitview
        "unbanned-other-unbanned": #fffdcc,
        "partner": #e2ffcc,
        "staff": #e2f0ff,
);

@if $theme == "dark" {
        $color-map-admin: (
                "banned-other-unbanned": #8c4c4c,
                "unbanned-other-banned": #8f6d1f,
                "banned": #6b2d2d,
                "shadow-banned": #6f4e3c,
                "unbanned-other-unbanned": #6b6b4d,
                "partner": #5f8b57,
                "staff": #4a6a8b,
        );
}

// fonts
$font: -apple-system, BlinkMacSystemFont, 'Inter', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-serif: Georgia, "Times New Roman", serif;

// https://medium.com/@jainbhavukspeaks/leveraging-scss-mixins-to-create-responsive-layouts-the-easy-way-5bbe4080cb15
// breakpoints
$breakpoints: (
        "tiny": (
                300px,
        ),
        "small": (
                500px,
        ),
        "medium": (
                950px,
        ),
        "large": (
                1250px,
        ),
        "huge": (
                1550px,
        ),
);

// buttons
$button-padding: 7px 11px;
$button-padding-small: 5px 8px;
$button-padding-big: 7px 15px;
$button-padding-huge: 0.5em 0.8em;

// content boxes
$content-box-background-color: #FFF;
$content-box-border-color: darken($secondary, 2.5%);
@if $theme == "dark" {
        $content-box-background-color: #1a1a1c;
        $content-box-border-color: lighten($secondary, 0.5%);
}
$content-box-padding: 1rem;

// content box grid entries
$content-box-grid-entry-height: 190px;
$content-box-grid-entry-width: 135px;

// header
$header-height: 48px;
$header-logo-height: 32px;
$header-pfp-width: 32px;

// profile
$pfp-width-profiles: 90px;
$pfp-width-watch: 35px;
$profile-intro-height: 90px;