$threshold: 50%; // contrast threshold

// basic colors
$text-color: black;
$link-color: #006FFF;
$bg-color: #F2F2F2;
$header-link-color: black;

@if $theme == "dark" {
        $text-color: white;
        $link-color: #2d89e8;
        $bg-color: #0B0B0B;
        $header-link-color: white;
}

// content boxes
$content-box-background-color: #FFF;
$content-box-border-color: #DDDDDD;
@if $theme == "dark" {
        $content-box-background-color: #111111;
        $content-box-border-color: #333333;
}

$content-box-padding: 1em;

// content box grid entries
$content-box-grid-entry-height: 190px;
$content-box-grid-entry-width: 135px;

// component colors
$primary: #1B80CB; // primary color
$secondary: $content-box-border-color; // secondary color
$green: #28c228;
$red: #c01b0c;
$yellow: #ffb10a;

$color-map: (
        "primary": $primary,
        "secondary": $content-box-border-color,
        "success": $green,
        "danger": $red,
        "warning": $yellow,
);

// header/hamburger
$header-background: $content-box-background-color;
$header-border: $content-box-border-color;

$header-link-hover: rgba($header-link-color, 0.05);
$header-link-active: rgba($header-link-color, 0.1);
$header-link-inactive-opacity: 0.75;
$header-link-active-opacity: 1; // includes hover

// forms
$form-bg-color: $content-box-background-color;
$form-text-color: $text-color;
$form-border-color: $content-box-border-color;

$color-map-admin: (
        "banned-other-unbanned": #ff6b6b,
        "unbanned-other-banned": #ffa726,
        "banned": #ff8a80,
        "shadow-banned": #ffccbc,
        "unbanned-other-unbanned": #fff59d,
        "partner": #a5d6a7,
        "staff": #90caf9,
);

@if $theme == "dark" {
        $color-map-admin: (
                "banned-other-unbanned": #b05050,
                "unbanned-other-banned": #b37729,
                "banned": #b26666,
                "shadow-banned": #b2948b,
                "unbanned-other-unbanned": #b3a35d,
                "partner": #6e8b6e,
                "staff": #607c94,
        );

}

// fonts
$font: Inter, 'Helvetica Neue', Helvetica, Arial, sans-serif;

// https://medium.com/@jainbhavukspeaks/leveraging-scss-mixins-to-create-responsive-layouts-the-easy-way-5bbe4080cb15
// breakpoints
$breakpoints: (
        "tiny": (
                300px,
        ),
        "small": (
                500px,
        ),
        "medium": (
                950px,
        ),
        "large": (
                1250px,
        ),
        "huge": (
                1700px,
        ),
);

// header
$header-height: 48px;
$header-logo-height: 32px;
$header-pfp-width: 32px;

// profile
$pfp-width-profiles: 90px;
$pfp-width-watch: 35px;
$profile-intro-height: 90px;

// menus
$menu-item-padding: 0.33rem 0.8rem;