.submission {
  text-align: center;
  background: $content-box-background-color;
  border: 1px solid $content-box-border-color;
  border-bottom: none;

  .img-submission {
    padding: 1rem;
    filter: drop-shadow(0 0 2px rgba(black, 0.2));
  }
}

.watch-box {
  background: $content-box-background-color;
  border: 1px solid $content-box-border-color;
  padding: $content-box-padding;
  overflow: hidden;
  word-break: break-word;

  .watch-box-info {
    .watch-box-info-detail {
      .watch-box-info-detail-title {
        color: gray;
      }
    }

    .watch-box-info-stat {
      .watch-box-info-stat-number {
        font-weight: 500;
      }
    }

    .section-title {
      h2 {
        font-size: 0.9em;
        font-weight: 500;
      }
    }
  }

  .watch-box-description {
    margin: 0 auto;
    word-wrap: break-word;
  }

  .watch-box-row {
    display: flex;
    align-items: center;

    // star rating
    .watch-box-right {
      width: 25%;
      text-align: right;
    }

    // author and upload date.
    .watch-box-left {
      display: flex;
      align-items: center;
      gap: 0.8em;
      width: 75%;

      .watch-box-profile-picture {
        width: 50px;
        height: 50px;
      }

      .watch-box-author {
        .watch-box-author-userlink {
          font-size: 1.1em;
        }
      }
    }
  }
}