<footer class="footer">
    <div class="footer-container">
        <div>
            <span>Powered by <a href="/version">OpenSB {{ opensb_version }}</a></span>
        </div>
        {% if not is_opensb_v2 %}
            <span><a href="/theme">Change theme</a></span>
        {% endif %}
        <span><a href="/guidelines">Community Guidelines</a></span>
        <span><a href="/tos">Terms of Service</a></span>
        <span><a href="/privacy">Privacy policy</a></span>
        <span><a href="/staff">Staff</a></span>
        {% if is_opensb_v2 %}
        <div><a href="/theme" class="button button-secondary button-small">Customize</a></div>
        {% endif %}
        <div class="footer-copyright">
            <span>© 2021-{{ 'now' | date('Y') }} OpenSB contributors</span>
        </div>
        {% if is_debug %}
            <div>
                <pre>{{ profiler_stats() }}</pre>
            </div>
        {% endif %}
    </div>
</footer>